.popup__container {
  max-width: 430px;
		max-height: 330px;
		border-radius: 10px;
		background-color: #ffffff;
		padding-top: 34px;
}


@media screen and (max-width: 500px) {
	.popup__container {
			max-width: 282px;
   max-height: 322px;
	}
}