.profile {
  max-width: 882px;
  margin: 36.25px auto 47.25px;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 900px) {
  .profile {
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
      margin: 38.25px auto 0;
  }
}

