.profile__edit {
	 min-width: 336px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media screen and (max-width: 900px){
	  .profile__edit {
					min-width: 189px;
					justify-content: center;
					padding: 22px 0 0 30px;

			}
	}