.popup__field-error {
  font-size: 12px;
  line-height: 1.2;
  color: #FF0000;
  padding-top: 5px;
  width: 358px;
  margin: auto;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .popup__field-error {
      width: 238px;
  }
}
