.popup__close-button {
	 width: 48px;
	 height: 48px;
	 border: none;
	 background-color: transparent;
		position: absolute;
		top: -40px;
		right: -40px;
		outline: none;
		cursor: pointer;
		background-image: url(../../../images/Close\ Icon.svg);
		background-repeat: no-repeat;
		background-size: cover;

}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
	 .popup__close-button {
			 width: 36px;
			 height: 36px;
				top: -50px;
				right:0;
		}
}