.popup__close-button {
	 width: 40px;
	 height: 40px;
	 border: none;
	 background-color: transparent;
	 position: absolute;
	 top: 14.5%;
	 right: 30%;
	 outline: none;
}

.popup__close-button:hover {
opacity: 0.6;
}

@media screen and (max-width: 500px) {
	 .popup__close-button {
				width: 26px;
				height: 26px;
				position: absolute;
				top: 15.5%;
				right: 11.5%;
		}
}