.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 10PX;
  border-top-left-radius: 10PX;
}

.card__image:hover {
  cursor: pointer;
}
